###***Importing necessary libaries***

In [1]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer # To fill the Missing values
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import make_pipeline

###***Creating a sample DataFrame Train/Test***

In [3]:
feature_1 = [10. , 20. , np.nan , 2.]
feature_2 = [25. , 20. , 5. , 3.]
label = ['A' , 'A' , 'B' , 'B']
train = pd.DataFrame({'F1' : feature_1 , 'F2' : feature_2 , 'Label' : label})
train

     F1    F2 Label
0  10.0  25.0     A
1  20.0  20.0     A
2   NaN   5.0     B
3   2.0   3.0     B

Creating a test Data[Here we need to find the label for the test]

In [5]:
f1 = [30. , 5. , 15.]
f2 = [12.,10.,np.nan]
test = pd.DataFrame({'F1' : f1 , 'F2' : f2})
test

     F1    F2
0  30.0  12.0
1   5.0  10.0
2  15.0   NaN

###***Creating object of SimpleImputer and Logistic Regression***

In [6]:
imputer = SimpleImputer()
lr = LogisticRegression()

Here we're making **2steps Pipeline** , first to fil the Missing values and after that pass result to the classifiers :

In [7]:
pipeline = make_pipeline(imputer , lr)

###***Taking Independent and dependent features Separately***

In [8]:
#For train Dataset
X = train[['F1' ,'F2']]
Y = train['Label']
#For test dataset
test_x = test[['F1' , 'F2']]

In [11]:
X

     F1    F2
0  10.0  25.0
1  20.0  20.0
2   NaN   5.0
3   2.0   3.0

In [12]:
Y

0    A
1    A
2    B
3    B
Name: Label, dtype: object

###***Fitting the dataset and making Predections***

In [13]:
pipeline.fit(X,Y)

Pipeline(steps=[('simpleimputer', SimpleImputer()),
                ('logisticregression', LogisticRegression())])

In [14]:
pipeline.predict(test_x)

array(['A', 'B', 'A'], dtype=object)